body {
    font-family: Tahoma;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #2c786c;
    color: white;
    padding: 20px;
}

nav {
    background: #004445;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background: #ddd;
}
