quran-site
│
├── index.html
├── readers.html
├── about.html
│
├── css
│   └── style.css
│
├── img
│   ├── logo.png
│   ├── person1.jpg
│   ├── person2.jpg
│
└── audio
    └── sample.mp3
